{% extends 'base_bootstrap.html' %}
<!-- {% load app_tags %} see home/templatetags/app_tags.py -->
<!-- https://www.w3schools.com/booTsTrap/bootstrap_navbar.asp -->
{% block navbar %}
<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
        <style>
          .navbar-default{
            background-color: #333;
          }
        </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <img class="navbar-form navbar-left" src="https://support.apple.com/library/content/dam/edam/applecare/images/en_US/iosapps/itunes/ios11-app-icon-app-store.png" height="35" width="35">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#" style="color: white">Appstore</a>
        </div>
        <form class="navbar-form navbar-left" action="/action_page.php">
          <div class="form-group">
            <input class="form-control" style="width:500px;" placeholder="Search" type="text">
          </div>
          <button type="button" class="btn btn-basic">
            <span class="glyphicon glyphicon-search"></span>
          </button>
          
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'signup'%}?next={{request.path}}" style="color: white"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          {% if user.is_authenticated %}
          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: white">User: {{ user.get_username }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">Profile</a></li>
              <li><a href="{% url 'logout'%}?next={{request.path}}">Logout</a></li>
            </ul>
          </li>
            <!-- <li><a href="{% url 'logout'%}?next={{request.path}}"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li> -->
          {% else %}
            <li><a href="{% url 'login'%}?next={{request.path}}" style="color: white"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          {% endif %} 
        </ul>
      </div>
    </nav>
</body>
{% endblock %}